* {
  margin: 0;
  padding: 0;

  font-family: "Afacad", sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}
body {
  background-color: #c4b9ad;
  overflow-x: hidden;
}

.fariel {
  border-radius: 40%;
  border: solid white 5px;
}
.video {
  width: 100%;
}
.pres {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10rem;
  gap: 20px;
  background-image: url(./assets/fondo2.jpg);
  background-size: 10%;
  padding: 1rem;
  border-radius: 15px;
  border: solid white 5px;
}
nav {
  height: 6rem;
  width: 100vw;

  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
}

article {
  margin: 5rem;
}
p {
  text-align: justify;
}

/*Styling logo*/

.logo {
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

span {
  font-weight: 700;
  color: #131418;
}

.titulo:hover .y {
  color: #c4b9ad;
  transform: scale(1);
}
.logo img {
  width: 70px;
  margin-top: 0;
}
.des {
  color: #dbd4cd;
  font-size: 1rem;
}
.foto1 {
  border-radius: 100%;
  width: 400px;
  border: solid white 15px;
  transition: 2s;
}

.foto1:hover {
  border: solid black 15px;
}

#titulo4 {
  margin-left: 8rem;
}
.infoLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ariel {
  font-size: 1.4rem;
}
h2 {
  font-size: 2.3rem;
  font-weight: 700;
  color: white;
  text-align: start;
  align-self: start;
}
h3 {
  color: white;
  font-size: 1.7rem;
  align-self: center;
  font-weight: 700;
}
.card {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin: 4rem;
}
.infoCard {
  font-size: 1.3rem;
}

.titulo2 {
  font-size: 4rem;
}
.card div {
  margin-top: 2rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
  gap: 20px;
  margin-bottom: 5rem;
  padding: 10px;
}
.wy {
  font-size: 1rem;
}
.pasos {
  list-style: square;
  font-size: 1.4rem;
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.pasos img {
  border: ridge black 10px;
  width: 100%;
}

.card div img {
  border-radius: 50%;
  transition: 2s;
  border: solid 5px white;
}
.titulo3 {
  text-align: justify;
  color: black;
  font-weight: 400;
  width: 100%;
}

.card div img:hover {
  border-radius: 0%;
  transform: scale(1.1);
}
.card div p {
  text-align: justify;

  padding: 5px;
}
.cardItem {
  display: flex;
}
p {
  font-size: 1.5rem;
}
.info1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7rem;
  gap: 20px;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}
.contBanner {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 20px;
  background-image: url(./assets/fondo2.jpg);
  background-repeat: repeat;
  background-size: 10%;
  padding: 2rem;
}

.contTitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
.titulo {
  font-size: 4rem;
  font-weight: 700;
  color: white;
}
.infoTitulo {
  font-size: 1.6rem;
  color: black;
}
/* responsive */

@media screen and (max-width: 1030px) {
  .card {
    flex-direction: column;
  }
}
li img {
  width: 500px;
  .pres {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem;
  }
  .pres {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem;
  }
}

@media screen and (max-width: 800px) {
  .contBanner {
    flex-direction: column;
  }

  .pres {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: fixed;
    background: #131418;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .contBanner {
    flex-direction: column;
  }

  .foto1 {
    border-radius: 100%;
    width: 200px;
    border: solid white 15px;
    transition: 2s;
  }
  h2 {
    font-size: 2rem;
  }
  .info1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 20px;
  }
  p {
    text-align: justify;
    width: 300px;
  }

  .pres {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
  }

  li img {
    width: 100%;
    height: 300px;
    border: none;
    margin: 0;
  }
  .cardItem {
    display: flex;
    width: 100px;
  }

  .card {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 0rem;
  }
  article {
    margin: 0rem;
  }

  .card div {
    margin-top: 2rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    gap: 20px;
    margin-bottom: 5rem;
    padding: 10px;
  }
}
