* {
  margin: 0;
  padding: 0;

  font-family: "Afacad", sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}
body {
  background-color: #c4b9ad;
  overflow-x: hidden;
}
nav {
  height: 6rem;
  width: 100vw;

  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;

  background-color: black;
}

/*Styling logo*/

.logo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 600px;
  gap: 20px;
}

span {
  font-weight: 700;
  color: #131418;
}

.titulo:hover .y {
  color: #c4b9ad;
  transform: scale(1);
}
.logo img {
  width: 100px;
  margin-top: 0;
  border-radius: 80%;
}
.des {
  color: #dbd4cd;
}
.foto1 {
  border-radius: 100%;
  width: 400px;
  border: solid white 15px;
  transition: 2s;
}

.foto1:hover {
  border: solid black 15px;
}

.infoLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-size: 2.3rem;
  font-weight: 700;
  color: white;
  text-align: center;
}
h3 {
  color: white;
  font-size: 1.7rem;
  align-self: center;
  font-weight: 700;
}
.card {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin: 4rem;
}
.infoCard {
  font-size: 1.3rem;
}

.titulo2 {
  font-size: 4rem;
}
.card div {
  margin-top: 2rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
  gap: 20px;
  margin-bottom: 5rem;
  padding: 10px;
}
.wy {
  font-size: 1rem;
}
.pasos {
  list-style: numeric;
  font-size: 1.4rem;
  margin: 5rem;
}

.card div img {
  border-radius: 50%;
  transition: 2s;
  border: solid 5px white;
}

.card div img:hover {
  border-radius: 0%;
  transform: scale(1.1);
}
.card div p {
  text-align: justify;

  padding: 5px;
}
.cardItem {
  display: flex;
}
p {
  font-size: 1.5rem;
}
.info1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7rem;
  gap: 20px;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
}
.nav-links li a:hover {
  color: white;
}
.nav-links li {
  position: relative;
}
.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: white;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
.nav-links li a:hover::before {
  width: 80%;
}

/*Styling Buttons*/
.login-button {
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;
}
.login-button:hover {
  color: #131418;
  background-color: #f2f5f7;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}
.join-button {
  color: #131418;
  background-color: #61dafb;
  border: 1.5px solid #61dafb;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.join-button:hover {
  color: #f2f5f7;
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}
.contBanner {
  display: flex;

  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-image: url(./assets/fondo2.jpg);
  background-repeat: repeatl;
  background-size: 10%;
  padding: 2rem;
}

.contTitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
.titulo {
  font-size: 4rem;
  font-weight: 700;
  color: white;
}
.infoTitulo {
  font-size: 1.6rem;
  color: black;
}
/*Stying for small screens*/
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: fixed;
    background: #131418;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
